/.history/*
*/__pycache__/*
/.history/
/__pycache__/
/dataset/*
/dataset/
/model/*
/test.ipynb
/model
client_secrets.json
/setting.yaml
.vscode/settings.json
.vscode/*
.vscode/
gcloud
.gitignore
setting2.yaml
gcloud.pub
search/__pycache__/mcts.cpython-39.pyc
credentials.json
.venv/*
game/search/__pycache__/mcts.cpython-39.pyc
network/model/baseline.h5
network/model/baseline2.h5
.gitignore
